/*============================*/
/*Referenzen Page Styles*/
/*========================*/
.references-section {
    padding: 50px 20px;
    background-color: #1f1f1f;
}

.reference-item {
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid #007bff;
    background-color: #292929;
    color: #ccc;
}

.reference-item h3 {
    color: #007bff;
}

.reference-item p {
    color: #ccc;
    font-style: italic;
}
